.header {
  position: relative;
  height: 150px;
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 3px;
  background-image: url("../asset/images/night.jpg");
  background-size: 100% 150%;
  background-repeat: no-repeat;
  color: white;
  padding: 5px;
}
.date {
  position: absolute;
  left: 10px;
  bottom: 15px;
  font-size: 1.25em;
}
.message {
  position: absolute;
  left: 10px;
  font-size: 1.5em;
}
.clearIcon {
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 1.5em;
  cursor: pointer;
}
.clearIcon:hover {
  transform: rotate(60deg);
}
.todoTitle {
  font-size: 18px;
  cursor: pointer;
}

.delete,
.complate {
  cursor: pointer;
  font-size: 20px;
  position: relative;
  top: 5px;
}

.todos {
  height: 300px;
  overflow: auto;
  scrollbar-width: none;
}
.todos::-webkit-scrollbar {
  display: none;
}
.alert {
  margin-bottom: 0.5em;
}
.status {
  padding: 10px;
  display: none;
}
.status p {
  margin-bottom: 0.25em;
}

.lineThrough {
  text-decoration: line-through;
  color: rgb(14, 175, 14);
}
.fa-check-circle {
  color: rgb(14, 175, 14);
}
